* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  width: 1400px;
}
input {
  border: none;
}
a {
  text-decoration: none;
  /* color: black; */
  z-index: 5;
}
/* .product-card:hover {
  border: 1px solid rgba(237, 90, 37, 1);
} */

ul li {
  list-style: none;
}
.header .header-top {
  width: 1200px;
  height: 39px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600px;
  border-radius: 50px;
  padding: 0 16px;
  line-height: 32px;
  min-width: 159px;
  border: 1px solid black;
  user-select: none;
  cursor: pointer;
}
.top {
  width: 100%;
  height: 39px;
  background: #ed5a25;
}
.header-top-left span {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.2rem;
}
.header-top-left,
.header-top-right {
  cursor: pointer;
}
.header-main .head,
.header-nav .nav {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.header .header-top-right .list-info {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.header .header-top-right .list-info span {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 1);
}
.header .header-top-right .list-info i {
  color: #fff;
}
.header .header-top-right .list-info .acc {
  display: flex;
  gap: 5px;
}
.header .top .header-top-left {
  font-weight: 500;
  font-style: Quicksand;
  font-size: 1.2rem;
  color: #ffffff;
}
.header .top .header-top-right a {
  font-weight: 500;
  font-style: Quicksand;
  font-size: 1.2rem;
  color: #ffffff;
}
.header .header-main {
  background: #fff4f1;
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
}
.header .text-list {
  background: #ffffff;
}
.header .header-top-right {
  display: flex;
  gap: 15px;
}
.header-nav .list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-main .header-search {
  display: flex;
  width: 36%;
  align-items: center;
  margin: auto 0;
  border-radius: 12px;
  position: relative;
}
.header-main .header-search .voucher {
  border-radius: 12px 0 0 12px;
  max-width: 100%;
  width: 35%;
  height: 30px;
  border: 1px solid #fff4f1;
  padding-left: 10px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-main .header-search .voucher span {
  display: block;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.2rem;
}

.header-main .header-search .voucher-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-search .voucher .list-voucher {
  width: 147px;
  height: 217px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 4;
  border-radius: 10px;
  display: none;
}
.header-search .voucher .list-voucher .box {
  width: 119px;
  height: 188px;
  margin: 14px;
}
.list-voucher a {
  margin-top: 4px;
  display: flex;
  text-decoration: none;
  color: #333;
  transition: 0.2s;
  width: 119px;
  height: 28px;
  justify-content: center;
  align-items: center;
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.2rem;
}

.list-voucher a:hover {
  background: #ffebe0;
  border-radius: 4px;
}

.voucher:hover .list-voucher {
  display: block;
}
.voucher:hover .voucher-btn i {
  color: #ff875c;
}

.header-main .header-search .header-search-input {
  width: 65%;
  height: 30px;
  border-radius: 0 12px 12px 0;
  padding-left: 10px;
  border: 1px solid #fff4f1;
}
.header-main .header-search img {
  position: absolute;
  top: 6px;
  right: 13px;
}
.header .header-nav {
  height: 54px;
  display: flex;
  align-items: center;
}

/* =============nav======== */
.header .list .header-menu-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-style: Quicksand;
  font-size: 1.47rem;
  color: rgba(86, 86, 86, 1);
  gap: 6px;
  position: relative;
}

.header .list .header-menu-item .card {
  z-index: 99;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px;
}
.header .list .header-menu-item .box-hidden {
  position: absolute;
  width: 1200px;
  display: none;
  background: blanchedalmond;
  top: 33px;
  left: -86px;
  z-index: 9999;
}

.header .list .header-menu-item .close {
  display: flex;
}
.text-list .list .list-select-main {
  width: 266px;
  height: 270px;
  margin: 20px;
  margin-left: 48px;
}

.text-list .list .list-select-main .choose a {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.6rem;
  color: #ed5a25;
  display: block;
  height: 35px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.text-list .list .list-select-main .choose i {
  transform: rotate(-90deg);
}
.text-list .list .list-select-main .choose:nth-child(n + 2) {
  margin-top: 23px;
}
.header .list .header-menu-item:hover .card span {
  color: #ed5a25;
}

.header .list .header-menu-item:hover .box-hidden,
.header .list .header-menu-item:hover .overlay {
  display: block;
  z-index: 1000;
}
.header-menu-item .card i {
  font-size: 1.3rem;
}
.list .box-hidden .box-list {
  display: flex;
  width: 640px;
  margin: 48px 146px 27px 99px;
}
.list .box-hidden .box-list .box1 a {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.4rem;
  color: chocolate;
  line-height: 26px;
}
.list .box-hidden .box-list .box1 li {
  width: 150px;
}
.box-hidden .close .choose:hover {
  background-color: rgba(242, 242, 242, 1);
}

.box-hidden .close .choose i {
  font-size: 1rem;
}

.list .box-hidden .box-list .box1:nth-child(n + 2) {
  margin-left: 71px;
}
.text-list .list .list-select-main .choose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;

  cursor: pointer;
  border-radius: 8px;
}
.overlay {
  pointer-events: none;
  display: none;
  position: fixed;
  inset: 30% 0 0 0;
  background: rgba(0, 0, 21, 0.713);

  z-index: 0;
}

.btn:checked ~ .overlay {
  opacity: 1;
  visibility: visible;
}
.text-list .napgame {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-style: Quicksand;
  font-size: 1.47rem;
  color: rgba(86, 86, 86, 1);
  position: relative;
}
.text-list .napgame label {
  cursor: pointer;
  z-index: 99;
  padding: 6px;
}
.text-list .napgame .box-hidden {
  position: absolute;
  width: 219px;
  height: 151px;
  border-radius: 10px;
  display: none;
  background: rgba(255, 240, 236, 1);
  z-index: 3;
  top: 33px;
}
.napgame .card i {
  font-size: 1.3rem;
}
.text-list .napgame:hover .box-hidden {
  display: block;
}
.text-list .napgame:hover .card i {
  color: #ed5a25;
  transform: rotate(180deg);
  margin-bottom: 3px;
}
.text-list .napgame:hover .card span {
  color: #ed5a25;
}
.text-list .napgame .box-hidden .box {
  width: 189px;
  height: 137px;
  margin-left: 14px;
}
.text-list .napgame .box-hidden a {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.4rem;
  color: chocolate;
  line-height: 26px;
  display: flex;
  margin-left: 8px;
}
.napgame .card {
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px;
}
.text-list .napgame .box-hidden li {
  width: 189px;
  height: 28px;
  margin: 8px auto;
}
.text-list .napgame .box-hidden li:hover {
  background: rgba(255, 219, 206, 1);
}
.text-list .napgame #btn2:checked ~ label {
  color: #ed5a25;
}
.napgame #btn2:checked ~ label svg {
  color: #ed5a25;
}
.text-list .napgame #btn2:checked ~ label img {
  transform: rotate(180deg);
}
.text-list .napgame #btn2:checked ~ .box-hidden {
  display: block;
  z-index: 1000;
}

.text-list .napgame label {
  display: flex;
  gap: 10px;
}

.text-list .header-hotline {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  width: 130px;
  height: 21.0285701751709px;
  align-items: center;
  gap: 4px;

  /* background-color: aqua; */
}
.text-list .header-hotline img {
  width: 19px;
  height: 19px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid rgba(92, 92, 92, 1);
}
.text-list .header-menu {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.4rem;
  color: rgba(86, 86, 86, 1);
}
.container {
  display: flex;
  flex-direction: row;
  gap: 23px;
  width: 90%;
  margin: 0 auto; /* fix */
}

.content-heading {
  width: 366px;
  height: 628px;
  border-radius: 20px;
  border-width: 1px;
  border: #e5e5e5 1px solid;
  position: relative;
}
.content-des {
  width: 803px;
}
.content-heading div[class*="part-"] {
  cursor: pointer;
  border-radius: 99999px;
  /* width: 200px; */
  /* border: 1px solid red; */
}
.content-heading label {
  cursor: pointer;
}
.content-heading div[class*="part-"]:hover {
  background-color: #fff4f1;
}
.content-part {
  width: 160px;
  height: 240px;
  opacity: 1;
  top: 373px;
  left: 185px;
}

.content-des div[class*="part-"] {
  border-radius: 20px;
  border-width: 1px;
  border: #e5e5e5 1px solid;
}
.main-heading h2 {
  width: 193px;
  height: 25px;
  font-family: Quicksand;
  font-weight: 700;
  font-style: Bold;
  font-size: 2rem;
  margin-top: 37px;
  margin-left: 46px;
  color: rgba(50, 50, 50, 1);
}
.content-part {
  width: 259px;
  height: 260px;
  margin-top: 41px;
  margin-left: 63px;
}
.content-part p {
  font-family: Quicksand;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.6rem;
}

#about:checked ~ .container .content-des .part-2,
#about:checked ~ .container .content-des .part-3,
#about:checked ~ .container .content-des .part-4,
#about:checked ~ .container .content-des .part-5 {
  display: none;
}
#terms-of-service:checked ~ .container .content-des .part-2,
#terms-of-service:checked ~ .container .content-des .part-1,
#terms-of-service:checked ~ .container .content-des .part-4,
#terms-of-service:checked ~ .container .content-des .part-5 {
  display: none;
}
#privacy-policy:checked ~ .container .content-des .part-1,
#privacy-policy:checked ~ .container .content-des .part-3,
#privacy-policy:checked ~ .container .content-des .part-4,
#privacy-policy:checked ~ .container .content-des .part-5 {
  display: none;
}
#warranty-policy:checked ~ .container .content-des .part-1,
#warranty-policy:checked ~ .container .content-des .part-2,
#warranty-policy:checked ~ .container .content-des .part-3,
#warranty-policy:checked ~ .container .content-des .part-5 {
  display: none;
}
#faqs:checked ~ .container .content-des .part-1,
#faqs:checked ~ .container .content-des .part-2,
#faqs:checked ~ .container .content-des .part-3,
#faqs:checked ~ .container .content-des .part-4 {
  display: none;
}

#about:checked ~ .container .content-part .part-1 {
  color: #ed5a25;
}
#terms-of-service:checked ~ .container .content-part .part-2 {
  color: #ed5a25;
}
#privacy-policy:checked ~ .container .content-part .part-3 {
  color: #ed5a25;
}
#warranty-policy:checked ~ .container .content-part .part-4 {
  color: #ed5a25;
}
#faqs:checked ~ .container .content-part .part-5 {
  color: #ed5a25;
}
.footer {
  height: 531.0001220703125px;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-top {
  width: 1184px;
  height: 205.421875px;
  margin: 69px 128px;
  display: flex;
  justify-content: space-between;
  /* padding: 69px; */
}
.footer .footer-bottom {
  width: 987px;
  height: 115px;
  margin-left: 128px;
}
.footer-column .footer-title {
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8rem;
}

.footer-column .footer-list {
  margin-top: 25px;
}
.footer-column .footer-list a {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 1);
}
.footer-column .footer-list li:nth-child(n + 2) {
  margin-top: 20px;
}

.footer-title {
  text-transform: uppercase;
}

.footer-column .footer-list li a {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* margin-right: auto; */
  gap: 20px;
}
.footer-bottom .info h4 {
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8rem;
}

.footer-bottom .info .hotline,
.email {
  margin-top: 14px;
  /* background-color: #ed5a25; */
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 1);
}
.footer .info {
  display: flex;
  justify-content: space-between;
}
.footer .info .list-logo {
  margin-top: 14px;
  display: flex;
  gap: 10px;
  /* align-items: center; */
}
.footer .list-logo img {
  margin: auto;
}
.footer .footer-copy {
  margin-top: 30px;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.1rem;
  width: 1440px;
  height: 50px;
  color: rgba(144, 144, 144, 1);
  text-align: center;
  background: rgba(255, 244, 241, 1);
  line-height: 50px;
}
