* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  /* width: 1400px; */
  overscroll-behavior: none;
}
input {
  border: none;
}
a {
  text-decoration: none;
  z-index: 5;
}
/* ====================================== */
.square,
.nav2,
.home-menu,
.img4 {
  display: none;
}
/* ======================================= */
/* .product-card:hover {
  border: 1px solid rgba(237, 90, 37, 1);
} */
.page-home {
  padding-top: 20px;
  background-color: rgb(253, 253, 253);
  width: 1440px;
  margin: 0 auto;
  margin-top: 160px;
}
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* width: 100%; */
}
ul li {
  list-style: none;
}
.header .header-top {
  width: 1200px;
  height: 39px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600px;
  border-radius: 50px;
  padding: 0 16px;
  line-height: 32px;
  min-width: 159px;
  border: 1px solid black;
  user-select: none;
  cursor: pointer;
}
.top {
  /* width: 100%; */
  width: 1440px;
  height: 39px;
  margin: 0 auto;
  background: #ed5a25;
}
.main {
  width: 1440px;
  margin: 0 auto;
  /* background: #ed5a25; */
}
.text-list {
  width: 1440px;
  margin: 0 auto;
}
.header-top-left span {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.2rem;
}
.header-nav {
  box-shadow: 0 3px 5px #c8c1c1;
}
.header-top-left,
.header-top-right {
  cursor: pointer;
}
.header-main .head,
.header-nav .nav {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.header .header-top-right .list-info {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.header .header-top-right .list-info span {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 1);
}
.header .header-top-right .list-info i {
  color: #fff;
}
.header .header-top-right .list-info .acc {
  display: flex;
  gap: 5px;
}
.header .top .header-top-left {
  font-weight: 500;
  font-style: Quicksand;
  font-size: 1.2rem;
  color: #ffffff;
}
.header .top .header-top-right a {
  font-weight: 500;
  font-style: Quicksand;
  font-size: 1.2rem;
  color: #ffffff;
}
.header .header-main {
  background: #fff4f1;
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
}
.header .text-list {
  background: #ffffff;
}
.header .header-top-right {
  display: flex;
  gap: 15px;
}
.header-nav .list {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-main .header-search {
  display: flex;
  width: 36%;
  align-items: center;
  margin: auto 0;
  border-radius: 12px;
  position: relative;
}
.header-main .header-search .voucher {
  border-radius: 12px 0 0 12px;
  max-width: 100%;
  width: 35%;
  height: 30px;
  border: 1px solid #fff4f1;
  padding-left: 10px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-main .header-search .voucher span {
  display: block;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.2rem;
}

.header-main .header-search .voucher-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-search .voucher .list-voucher {
  width: 147px;
  height: 217px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 4;
  border-radius: 10px;
  display: none;
}
.header-search .voucher .list-voucher .box {
  width: 119px;
  height: 188px;
  margin: 14px;
}
.list-voucher a {
  margin-top: 4px;
  display: flex;
  text-decoration: none;
  color: #333;
  transition: 0.2s;
  width: 119px;
  height: 28px;
  justify-content: center;
  align-items: center;
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.2rem;
}

.list-voucher a:hover {
  background: #ffebe0;
  border-radius: 4px;
}

.voucher:hover .list-voucher {
  display: block;
}
.voucher:hover .voucher-btn i {
  color: #ff875c;
}

.header-main .header-search .header-search-input {
  width: 65%;
  height: 30px;
  border-radius: 0 12px 12px 0;
  padding-left: 10px;
  border: 1px solid #fff4f1;
}
.header-main .header-search img {
  position: absolute;
  top: 6px;
  right: 13px;
}
.header .header-nav {
  height: 54px;
  display: flex;
  align-items: center;
}

/* =============nav======== */
.header .list .header-menu-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-style: Quicksand;
  font-size: 1.47rem;
  color: rgba(86, 86, 86, 1);
  gap: 6px;
  position: relative;
}

.header .list .header-menu-item .card {
  z-index: 99;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px;
}
.header .list .header-menu-item .box-hidden {
  position: absolute;
  width: 1200px;
  display: none;
  background: rgba(255, 255, 255, 1);
  top: 33px;
  left: -86px;
  z-index: 9999;
}

.header .list .header-menu-item .close {
  display: flex;
}
.text-list .list .list-select-main {
  width: 266px;
  height: 270px;
  margin: 20px;
  margin-left: 48px;
}

.text-list .list .list-select-main .choose a {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.6rem;
  color: rgba(50, 50, 50, 1);
  display: block;
  height: 35px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.text-list .list .list-select-main .choose:hover a {
  color: #de4108;
}
.text-list .list .list-select-main .choose i {
  transform: rotate(-90deg);
}
.text-list .list .list-select-main .choose:nth-child(n + 2) {
  margin-top: 23px;
}
.header .list .header-menu-item:hover .card span {
  color: #ed5a25;
}
/* .header .list .header-menu-item:hover .card span  */

.header .list .header-menu-item:hover .box-hidden,
.header .list .header-menu-item:hover .overlay {
  display: block;
  z-index: 1000;
}
.header-menu-item .card i {
  font-size: 1.3rem;
}
.list .box-hidden .box-list {
  display: flex;
  width: 640px;
  margin: 48px 146px 27px 99px;
}
.list .box-hidden .box-list .box1 a {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.4rem;
  color: rgba(50, 50, 50, 1);
  line-height: 26px;
}
.list .box-hidden .box-list .box1 a:hover {
  color: #de4108;
  text-decoration: underline;
}
.list .box-hidden .box-list .box1 li {
  width: 150px;
}
.box-hidden .close .choose:hover {
  background-color: rgba(242, 242, 242, 1);
}

.box-hidden .close .choose i {
  font-size: 1rem;
}

.list .box-hidden .box-list .box1:nth-child(n + 2) {
  margin-left: 71px;
}
.text-list .list .list-select-main .choose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;

  cursor: pointer;
  border-radius: 8px;
}
.overlay {
  pointer-events: none;
  display: none;
  position: fixed;
  inset: 30% 0 0 0;
  background: rgba(0, 0, 21, 0.713);

  z-index: 0;
}

.btn:checked ~ .overlay {
  opacity: 1;
  visibility: visible;
}
.text-list .napgame {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-style: Quicksand;
  font-size: 1.47rem;
  color: rgba(86, 86, 86, 1);
  position: relative;
}
.text-list .napgame label {
  cursor: pointer;
  z-index: 99;
  padding: 6px;
}
.text-list .napgame .box-hidden {
  position: absolute;
  width: 219px;
  height: 151px;
  border-radius: 10px;
  display: none;
  background: rgba(255, 255, 255, 1);
  z-index: 3;
  top: 33px;
  box-shadow: 0 0 4px rgba(255, 240, 236, 1);
}
.napgame .card i {
  font-size: 1.3rem;
}
.text-list .napgame:hover .box-hidden {
  display: block;
}
.text-list .napgame:hover .card i {
  color: #ed5a25;
  transform: rotate(180deg);
  margin-bottom: 3px;
}
.text-list .napgame:hover .card span {
  color: #ed5a25;
}
.text-list .napgame .box-hidden .box {
  width: 189px;
  height: 137px;
  margin-left: 14px;
}
.text-list .napgame .box-hidden a {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.4rem;
  color: rgba(50, 50, 50, 1);
  line-height: 26px;
  display: flex;
  margin-left: 8px;
}
.text-list .napgame .box-hidden a:hover {
  color: #de4108;
}
.napgame .card {
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 8px;
}
.text-list .napgame .box-hidden li {
  width: 189px;
  height: 28px;
  margin: 8px auto;
}
.text-list .napgame .box-hidden li:hover {
  background: rgba(255, 219, 206, 1);
}
.text-list .napgame #btn2:checked ~ label {
  color: #ed5a25;
}
.napgame #btn2:checked ~ label svg {
  color: #ed5a25;
}
.text-list .napgame #btn2:checked ~ label img {
  transform: rotate(180deg);
}
.text-list .napgame #btn2:checked ~ .box-hidden {
  display: block;
  z-index: 1000;
}

.text-list .napgame label {
  display: flex;
  gap: 10px;
}

.text-list .header-hotline {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  width: 130px;
  height: 21.0285701751709px;
  align-items: center;
  gap: 4px;

  /* background-color: aqua; */
}
.text-list .header-hotline img {
  width: 19px;
  height: 19px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid rgba(92, 92, 92, 1);
}
.text-list .header-menu {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.4rem;
  color: rgba(86, 86, 86, 1);
}
/* ======================================== */
.body-head {
  width: 1199px;
  height: 1325px;
  margin: 21px auto;
  /* background: #ed5a25; */
  display: flex;
}

.body-head .pay-opts {
  width: 100%;
  height: 1325px;
}
.body-head .info-pay {
  width: 30%;
}

.body-head .pay-onl {
  margin-top: 18px;
  width: 770px;
  height: 136px;
  opacity: 1;
  border-radius: 15px;
  border-width: 1px;
}

.body-head .pay-onl .box {
  margin-top: 8px;
  display: flex;
  width: 770px;
  height: 91px;
  border-width: 1px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ffebe0;
}
.body-head .box-left {
  display: flex;
  gap: 10px;
  align-items: center;
}
.body-head .box-right {
  display: flex;
  gap: 9px;
}
.body-head .box-left p,
.body-head .box-right p {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.3rem;
  color: rgba(50, 50, 50, 1);
}

.box .check {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(62, 62, 62, 1);
  border-radius: 3px;
  position: relative;
  display: block;
}

.box .check::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  left: 4px;
  display: none;
}
.box input:checked + .check::after {
  display: block;
}
.box input:checked + .check {
  background-color: #de4108;
}
.box .image {
  margin-top: 34px;
  background-color: rgba(255, 218, 205, 1);
  width: 267px;
  height: 442px;
  border-radius: 25px;
}
.body-head label {
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
}
.pay-onl .title {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.3rem;
  line-height: 20px;
}
.pay-onl-list .list-box {
  margin-top: 8px;
  width: 770px;
  height: 248px;
  border: 1px solid #ffebe0;
  opacity: 1;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
}
.body-head .pay-onl-list {
  margin-top: 29px;
  width: 770px;
  height: 270px;
  border-radius: 15px;
}
.body-head .pay-onl-list .box {
  margin-top: 25px;
  display: flex;
  width: 770px;
  border-width: 1px;
  /* background-color: aqua; */
  align-items: center;
  justify-content: space-around;
}
.body-head .pay-onl-list .box-left,
.body-head .pay-onl-list .box-right {
  width: 264px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}

.pay-opts .pay-onl-list .title {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.4rem;
  line-height: 20px;
  letter-spacing: 0%;
}
.pay-opts .pay-onl-list .click {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
}
.pay-opts .pay-onl-list .click p {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.4rem;
  cursor: pointer;
}
.pay-opts .pay-onl-list .click p:hover {
  color: #de4108;
}
.body-head .pay-off-list {
  margin-top: 29px;
  width: 770px;
  height: 270px;
}
.body-head .pay-off-list .title {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.3rem;
  color: rgba(50, 50, 50, 1);
}
.body-head .pay-off-list .list-box {
  margin-top: 8px;
  width: 770px;
  height: 248px;
  border: 1px solid #ffebe0;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
}
.body-head .pay-off-list .list-box .box {
  margin-top: 10px;
  align-items: center;
  height: 50px;
  display: flex;
  /* justify-content: space-around; */
}

.body-head .pay-off-list .box-right {
  width: 356px;
  height: 45px;
  margin-left: 35px;
  display: flex;
  justify-content: space-between;
}
.body-head .pay-off-list .box label {
  /* background-color: green; */
  display: flex;
  /* height: 80px; */
}
.body-head .pay-off-list .box-left {
  margin-left: 55px;
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.body-head .pay-off-list .box-left .check,
.body-head .pay-off-list .box-right .check {
  margin-bottom: 30px;
}
.text {
  width: 135px;
}
.pay-opts .pay-off-list .box-right {
  display: flex;
  align-items: center;
}
.pay-opts .pay-off-list .box-right img {
  width: 127px;
  height: 28px;
}
.pay-off-list .click {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}
.pay-opts .pay-off-list .click img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  gap: 10px;
}
.pay-opts .pay-off-list .click p {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.4rem;
  cursor: pointer;
}
.pay-opts .pay-off-list .click p:hover {
  color: #de4108;
}
.body-head .card {
  width: 770px;
  height: 290px;
  margin-top: 32px;
}
.card .box-bottom {
  width: 770px;
  height: 264px;
  opacity: 1;
  border-radius: 15px;
  border: 1px solid #fff4f1;
  background-color: rgba(255, 255, 255, 1);
}
.card .box-bottom .list-vou {
  width: 704px;
  height: 91px;
  margin: 8px auto 0;
  display: flex;
  /* padding-top: 24px; */
  /* overflow: hidden; */
}
.card .box-bottom .list-vou label {
  width: 128px;
  height: 64px;
  border-radius: 15px;
  background: #ffebe0;
  color: #de4108;
}

.card .box-bottom .card-list {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  /* margin-top: 20px; */
}
.body-head .card .title {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.3rem;
  line-height: 20px;
}

.list-vou .card-list label .name {
  font-family: Quicksand;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.3rem;
  color: rgba(50, 50, 50, 1);
}
.list-vou .card-list label .desc {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 1rem;
  color: rgba(50, 50, 50, 1);
}
.list-vou .card-list label .text {
  text-align: center;
  line-height: 20px;
}
.box2 {
  padding: 10px;
  width: 704px;
  height: 124px;
  border-radius: 15px;
  margin: 20px auto;
  background: rgb(221, 219, 224);
}
.box2 .info {
  display: flex;
  width: 329px;
  height: 30px;
  align-items: center;
  gap: 20px;
}
.box2 .text ul {
  margin-top: 8px;
  width: 616px;
  height: 73px;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 1rem;
  line-height: 16px;
}
.box2 .info .desc {
  font-family: Quicksand;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.3rem;
  line-height: 20px;
}
#viettel:checked ~ label[for="viettel"],
#mobifone:checked ~ label[for="mobifone"],
#vinaphone:checked ~ label[for="vinaphone"],
#garena:checked ~ label[for="garena"],
#zing:checked ~ label[for="zing"] {
  background-color: #de4108;
  border-color: #c23000;
}
#viettel:checked ~ label[for="viettel"] .text p,
#mobifone:checked ~ label[for="mobifone"] .text p,
#vinaphone:checked ~ label[for="vinaphone"] .text p,
#garena:checked ~ label[for="garena"] .text p,
#zing:checked ~ label[for="zing"] .text p {
  color: #ffebe0;
}
.qr {
  margin-top: 10px;
  width: 770px;
  height: 180px;
}
.qr .title {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.3rem;
}
.list-qr {
  margin-top: 9px;
  width: 719px;
  height: 157px;
  border-radius: 15px;
  border-width: 1px;
  display: flex;
  /* gap: 30px; */

  /* margin-left: 12px; */
  /* margin: 0 auto; */
}
h1 {
  margin-top: 10px;
}
.qr .list-qr img {
  margin-left: 30px;
}
.info-pay {
  width: 391px;
  height: 495px;
}
.info-pay .box-pay {
  /* width: 391px; */
  height: 406px;
  border: 1px solid #ffebe0;
  border-radius: 12px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 1);
}
.info-pay .box-pay .desc {
  font-family: Quicksand;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 16px;
  padding-top: 10px;
}
.info-pay .box-pay .box {
  margin-top: 20px;
  width: 337px;
  height: 117px;
  justify-content: space-between;
  border-radius: 20px;
  /* padding-right: 12px; */
  padding-bottom: 20px;
  /* padding-left: 12px; */
  background: rgba(247, 247, 247, 1);
  margin: 25px auto;
}
.info-pay .box-pay .box .card-payment2,
.info-pay .box-pay .box .card-payment {
  width: 283px;
  height: 58.5px;
  margin: 0 auto;
}
.info-pay .box-pay .box .card-payment .label {
  font-family: Quicksand;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.5rem;
  color: rgb(80, 77, 77);
}
.info-pay .box-pay .box .card-payment2 .label {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.5rem;
  color: rgba(50, 50, 50, 1);
}
.info-pay .box-pay .box .card-payment .value {
  font-family: Quicksand;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.5rem;
  color: rgba(50, 50, 50, 1);
}
.info-pay .box-pay .box .card-payment2 .value {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 1);
}
.info-pay .box-pay .box .card-payment,
.info-pay .box-pay .box .card-payment2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-pay .box-pay .box2 {
  width: 337px;
  height: 75px;
  border-radius: 10px;
  /* padding-top: 20px; */
  background-color: rgba(247, 247, 247, 1);
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.info-pay .box-pay .box2 .card-payment3 {
  width: 283px;
  height: 58.5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-pay .box-pay .box2 .card-payment3 .label {
  font-family: Quicksand;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.5rem;
  color: rgba(50, 50, 50, 1);
}
.info-pay .box-pay .box2 .card-payment3 .value {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.5rem;
  color: rgba(237, 90, 37, 1);
}
.info-pay .box-pay .btn2 {
  background-color: #de4108;
  width: 80%;
  margin-left: 10%;
  border: none;
}
.info-pay .box-pay .btn2:active {
  background-color: #c23000;
}
.footer {
  height: 531.0001220703125px;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-top {
  width: 1184px;
  height: 205.421875px;
  margin: 69px 128px;
  display: flex;
  justify-content: space-between;
  /* padding: 69px; */
}
.footer .footer-bottom {
  width: 987px;
  height: 115px;
  margin-left: 128px;
}
.footer-column .footer-title {
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8rem;
}

.footer-column .footer-list {
  margin-top: 25px;
}
.footer-column .footer-list a {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 1);
}
.footer-column .footer-list li:nth-child(n + 2) {
  margin-top: 20px;
}

.footer-title {
  text-transform: uppercase;
}

.footer-column .footer-list li a {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* margin-right: auto; */
  gap: 20px;
}
.footer-bottom .info h4 {
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8rem;
}

.footer-bottom .info .hotline,
.email {
  margin-top: 14px;
  /* background-color: #ed5a25; */
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 1);
}
.footer .info {
  display: flex;
  justify-content: space-between;
}
.footer .info .list-logo {
  margin-top: 14px;
  display: flex;
  gap: 10px;
  /* align-items: center; */
}
.footer .list-logo img {
  margin: auto;
}
.footer .footer-copy {
  margin-top: 30px;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.1rem;
  width: 1440px;
  height: 50px;
  color: rgba(144, 144, 144, 1);
  text-align: center;
  background: rgba(255, 244, 241, 1);
  line-height: 50px;
}
