@media (max-width: 429.98px) {
  .header .top,
  .main,
  .text-list .nav .list,
  .container-left,
  .img3 {
    display: none;
  }
  .nav2,
  .square,
  .list-item2,
  .title-container select,
  .list-products-hot,
  .box-hidden3,
  .img4 {
    display: block;
  }
  body {
    /* width: 1400px; */
  }
  .header-hotline {
    font-family: Quicksand;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.2rem;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
  }
  .header-hotline img {
    width: 2px;
    height: 2px;
    border-width: 1.05px;
  }
  .page-home {
    padding-top: 20px;
    background-color: rgb(255, 251, 244);
    width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .header .text-list {
    width: 429px;
    height: 52px;
    background: rgba(237, 90, 37, 1);
  }

  .header .text-list .header-hotline {
    width: 116px;
    height: 21px;
    font-size: 0.84rem;
  }
  .header .text-list .square {
    display: block;
    margin-left: 16px;
  }
  .home-menu {
    margin-top: -110px;
    position: relative;
    display: none;
    width: 341px;
    height: 934px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999;
    transition: translate 0.3s;
  }
  .home-menu .title i {
    color: rgba(120, 119, 119, 1);
    font-size: 1.4rem;
  }
  .home-menu .box i {
    color: rgba(120, 119, 119, 1);
  }
  .home-menu .list-select {
    width: 292.4628601074219px;
    height: 121px;
    gap: 24px;
    margin: 8px auto;
  }
  .home-menu .list-select .box {
    margin-top: 24px;
    width: 292.4628601074219px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .home-menu .list-select .box .title-small {
    font-family: Quicksand;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.4rem;
    color: rgba(86, 86, 86, 1);
    display: flex;
  }
  .home-menu .list-select .box:hover {
    background-color: aqua;
  }

  .home-menu .title {
    padding: 20px;
    display: flex;
    gap: 150px;
    justify-content: space-around;
    align-items: center;
  }
  .home-menu .title i {
    font-size: 1.6rem;
  }
  .text-list .header-hotline img {
    border: none;
    width: 14px;
    height: 14px;
    padding: 0;
  }
  .text-list .header-hotline p {
    color: rgba(255, 255, 255, 1);
  }
  .overlay {
    border: 1px solid black;
    margin: 120px;
    height: 400px;
    width: 400px;
    display: block;
    position: absolute;
    opacity: 0;
    inset: 0;
    z-index: 998;
    transition: opacity 0.3s;
    visibility: hidden;
    background-color: red;
  }
  #menu2:checked ~ .page-home .header .home-menu {
    /* translate: 0; */
    display: block;
    transform: translateX(0);
  }
  #menu:checked + .overlay {
    display: block;
  }
  .text-list {
    max-width: 429px;
    max-height: 52px;
    /* display: flex; */
    /* margin-left: 40%; */
    margin: 0 auto;
  }
  .nav2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 210px;
    width: 429px;
    height: 54px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 1);
  }
  .nav2 img {
    margin-left: 14px;
  }
  .nav2 .icon2 img:nth-child(n + 2) {
    margin-left: 20px;
  }
  .container {
    position: relative;
    width: 430px;
    /* background-color: aqua; */
    margin: 0 auto;
    height: 2800px;
  }
  .container .container-right {
    width: 430px;
    height: 2400px;
    margin: 0 auto;
  }
  .container .container-right .list-item2 {
    display: flex;
    height: 24px;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    margin: 0 auto;
    gap: 5px;
    width: 95%;
  }
  .container .container-right .list-item2 p {
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 1.4rem;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(50, 50, 50, 1);
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 6px;
  }
  .container .container-right .list-item2 p span {
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 1.4rem;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(175, 175, 175, 1);
  }
  .container .container-right .list-item2 p span i {
    transform: rotate(-90deg);
  }
  .container-right .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 95%;
    margin: 10px auto;
  }
  .container-right .title-container h3 {
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 1.4rem;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .container-right .title-container .choose {
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 1.2rem;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(50, 50, 50, 1);
    padding: 4px;
    border: none;
  }
  .container-right .product .product-card {
    width: 192.13973999023438px;
    height: 288.2095947265625px;
    border-radius: 26.2px;
    border-width: 0.87px;
  }
  .container-right .product {
    width: 430px;
    height: 2130px;
    margin-bottom: 20px;
  }
  .container-right .product .product-card .product-card-img img {
    width: 172.92576599121094px;
    height: 150.2183380126953px;
    top: 10.48px;
    left: 9.61px;
    border-radius: 17.47px;
  }
  .container-right .product .block-product {
    margin: 20px auto;
    width: 408.24017333984375px;
    height: 588.2095947265625px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 20px; */
  }
  .container-right .product .block-product .product-card {
    margin-top: 5px;
  }
  .container-right .list-page {
    margin-bottom: 20px;
  }
  .container-right .product .block-product:nth-child(5),
  .container-right
    .product
    .block-product:nth-child(4)
    .product-card:nth-last-child(-n + 2) {
    display: none;
  }
  .list-products-hot {
    border-radius: 25px;
    margin-top: 108px;
    margin: 0 auto;
    display: block;
    width: 402px;
    height: 442px;
    background-color: rgba(255, 218, 205, 1);
  }
  .list-products-hot .voucher {
    max-width: 400px;
    min-height: 373px;
    /* display: flex; */
    margin: 0 auto;
  }
  .list-products-hot .voucher .balloon {
    max-width: 374px;
    min-height: 263px;
  }
  .list-products-hot .voucher .text {
    width: 307px;
    height: 90px;
    margin: 20px auto;
  }
  .list-products-hot .voucher .text .title {
    font-family: Quicksand;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 2.5rem;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(149, 20, 24, 1);
  }
  .list-products-hot .voucher .buttom {
    min-width: unset;
    width: 117px;
    height: 36px;
    display: flex;
    gap: 8px;
    margin: 20px auto;
    color: rgba(237, 90, 37, 1);
    background-color: rgba(255, 255, 255, 1);
    border: none;
  }
  .list-products-hot .voucher .buttom img {
    padding: 3px;
    background-color: rgba(255, 218, 205, 1);
    border-radius: 50%;
  }
  .box-hidden3 {
    transform: translateX(-347px);
    display: none;
    z-index: 995;
    margin: 0 auto;
    top: -100px;
    left: 10px;
    position: absolute;
    width: 341px;
    height: 599px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
  }
  #menu:checked + .container .box-hidden3 {
    transform: translateX(0);
    display: block;
    /* transform: 0.3s; */
  }
  .box-hidden3 .products-category {
    width: 320px;
    height: 570px;
    margin: 0 auto;
  }
  .box-hidden3 .products-category .title {
    padding-top: 20px;
    margin: 20px auto;
    width: 291px;
    height: 41px;
    display: flex;
    justify-content: space-between;
    font-family: Quicksand;
    font-weight: 700;
    font-style: Bold;
    font-size: 1.5rem;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(86, 86, 86, 1);
    align-items: center;
  }
  .box-hidden3 .name-products li {
    width: 291px;
    height: 21px;
    margin-top: 10px;
    margin: 10px auto;
  }
  .box-hidden3 .name-products li a {
    font-family: Quicksand;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.6rem;
    leading-trim: NONE;
    letter-spacing: 0%;
    color: rgba(62, 62, 62, 1);
    display: flex;
    justify-content: space-between;
  }
  .box-hidden3 .name-products li span {
    color: rgba(175, 175, 175, 1);
  }
  .footer {
    height: 867px;
    width: 398px;
  }
  .footer-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 365px; */
  }
  .footer .footer-top {
    padding-top: 40px;
    margin: 10px auto;
    width: 365px;
  }
  .footer-top {
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 300px;
    max-height: 500.610351562px;
    /* background-color: blueviolet; */
    /* gap: 10px; */
  }

  .footer-column:nth-child(1) {
    width: 99px;
    height: 179px;
  }
  .footer-column:nth-child(2) {
    width: 192px;
    height: 179px;
  }
  .footer-column:nth-child(3) {
    width: 159px;
    height: 174.55555725097656px;
  }
  .footer-column:nth-child(4) {
    width: 192px;
    height: 176.20248413085938px;
  }
  .icon-buy img {
    top: -4px;
    left: -3px;
    position: absolute;
  }
  .footer-top {
    max-width: 429px;
    max-height: 897.0000610351562px;
  }
  .footer-top .footer-column:nth-child(3) .list a img {
    max-width: 40%;
  }
  .footer .footer-bottom {
    margin: 280px auto 0;
    width: 429px;
    height: 200px;

    opacity: 1;
  }

  .footer-bottom .info {
    display: block;
  }
  .footer-bottom .footer-comany {
    margin: 0 auto;
    width: 365px;
    height: 115px;
  }
  .footer-bottom .logo-certification {
    width: 365px;
    height: 115px;
    margin: 0 auto;
  }
  .footer .footer-copy {
    width: 429px;
    height: 64px;
    /* background-color: red; */
  }
}
